/* Footer sticky */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Footer sticky */
main {
    flex: 1 0 auto;
    margin-bottom: 1rem;
}

.largura-completa {
    width: 100%;
}

.ajuste-icones {
    vertical-align: middle;
    margin-right: 15px;
    line-height: initial !important;
}

.botao-mostrar-senha {
    padding: 0 12px;
    position: absolute;
    top: 0;
    right: 7px;
}

.bold {
    font-weight: bold;
}


/* Cadastrar pergunta */
.fonte-cabecalho-titulo {
    font-weight: bold;
    font-size: 1.3rem;
}

.fonte-cabecalho-valor {
    font-weight: bold;
    color: #72bb53;
    font-size: 1.3rem;
}

.linha-sem-espaco {
    margin-bottom: 0px;
}

.linha-com-espaco-em-cima {
    padding-top: 1.8rem;
}

.titulo-campo {
    font-size: 1.25rem !important;
}

.alternativa {
    font-size: 1.25rem !important;
    color: black;
}

.btn-grande-duas-linhas {
    height: 60px;
    line-height: 20px;
}

.btn-grande-duas-linhas > i {
    font-size: 2rem;
}